body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:44px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:8px;
  width:103px;
  height:44px;
  display:flex;
}
#u1450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:808px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1260px;
  height:808px;
  display:flex;
}
#u1451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1452_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-15px;
  width:390px;
  height:72px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:92px;
  width:360px;
  height:42px;
  display:flex;
  font-size:37px;
  color:#262626;
}
#u1452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:1056px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:1260px;
  height:1056px;
  display:flex;
}
#u1453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:60px;
}
#u1454_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.24705882352941178);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.24705882352941178);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.24705882352941178);
}
#u1454_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:120px;
  height:60px;
  display:flex;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1455_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1455.mouseOver {
}
#u1455_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1455.selected {
}
#u1455_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1455.mouseOver.selected {
}
#u1455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:120px;
  height:60px;
  display:flex;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1456_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1456.mouseOver {
}
#u1456_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1456.selected {
}
#u1456_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Font Awesome 5 Pro Solid", "Font Awesome 5 Pro", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u1456.mouseOver.selected {
}
#u1456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:44px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:8px;
  width:103px;
  height:44px;
  display:flex;
}
#u1457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
